@charset "UTF-8";
/* ------------- MIXIN ------------- */
/* ------------- VARIABLES ------------- */
img {
  width: 100%;
}

p {
  font-size: 14px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.email,
.state {
  color: #01b18c;
  font-style: italic;
}

/* ------------- BODY / HEADER ------------- */
body {
  background-color: #001322;
  color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background-image: url("../static/images/base3.jpg");
  background-repeat: no-repeat;
  background-size: 1418px;
}
body header {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
  width: 60%;
}
body .container-background {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
body .container-background .block-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 160px;
}
body .container-background .block-right .profile {
  margin-top: 100px;
}
body .container-background .block-right .profile .name {
  text-align: center;
  margin-bottom: 60px;
}
body .container-background .block-right .profile .name h1 {
  font-size: 30px;
  letter-spacing: 5px;
}
body .container-background .block-right .profile .name p {
  font-size: 16px;
  letter-spacing: 1px;
}
body .container-background .block-right .profile .description {
  line-height: 25px;
  background-image: url("../static/images/quot.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: right;
  text-align: center;
}
body .container-background .block-right .profile .description .current-topic {
  margin-top: 30px;
}
body .container-background .icons-stack {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
body .container-background .icons-stack img {
  width: 54px;
}
body .container-content {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 50px;
  line-height: 20px;
}

.skill,
.projects,
.experiences,
.education {
  margin: 60px 0;
}

/* ---------- PROFIL && DESCRIPTION ---------- */
.profile,
h3,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------ IMG && ICON && TEXT ----------- */
h3 {
  color: #01b18c;
  margin-bottom: 30px;
}

/* ------------- COMPÉTENCES ------------- */
span {
  color: #01b18c;
  font-style: italic;
}

.skill .title-back-end {
  display: flex;
  align-items: center;
}
.skill .title-back-end figure {
  max-width: 18px;
  margin: 0 0 0 7px;
  /*animation-name: fade;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;*/
  -webkit-animation: battement 0.9s infinite alternate cubic-bezier(0.66, 0, 0, 1);
          animation: battement 0.9s infinite alternate cubic-bezier(0.66, 0, 0, 1);
}

/*@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}*/
@-webkit-keyframes battement {
  to {
    transform: scale(1.3);
  }
}
@keyframes battement {
  to {
    transform: scale(1.3);
  }
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.skills-container p {
  background-color: rgba(255, 255, 255, 0.06);
  color: #01b18c;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 6px;
  border: solid 1px #01b18c;
  margin: 0;
}
.skills-container p.uppercase {
  text-transform: uppercase;
}

.back-end,
.front-end {
  display: flex;
  margin-bottom: 50px;
  gap: 50px;
}
.back-end .python-DB,
.back-end .django,
.back-end .html-css,
.back-end .js,
.front-end .python-DB,
.front-end .django,
.front-end .html-css,
.front-end .js {
  flex: 1;
}

/* ------------- PROJETS ------------- */
.projects {
  text-align: center;
}
.projects h3 {
  align-items: center;
}
.projects .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
}
.projects .cards .card {
  max-height: 500px;
  margin-top: 30px;
  max-width: 280px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px #000000;
}
.projects .cards .card .img-container {
  width: 281px;
}
.projects .cards .card .img-container img {
  width: 100%;
}
.projects .cards .card .text-container {
  padding: 0 10px 10px 10px;
  color: #000000;
  text-align: left;
  font-size: 14px;
}
.projects .cards .card .text-container h5 {
  font-weight: 700;
  font-size: 16px;
  margin: 5px;
}
.projects .cards .card .text-container a {
  text-decoration: underline;
  color: #000000;
  margin-top: 10px;
}
.projects .cards .card .text-container .access-dashboard {
  font-size: 8px;
}

/* ------------- EDUCATION & EXPERIENCE------------- */
.container-education-experiences {
  display: flex;
}
.container-education-experiences .education,
.container-education-experiences .experiences {
  width: 50%;
  margin: 10px 50px;
}

/* ------------- EXPÉRIENCES && FORMATIONS ------------- */
.experience-container,
.education-container {
  margin: 25px 0;
}
.experience-container p:first-child,
.education-container p:first-child {
  font-weight: 700;
}
.experience-container p:nth-child(2),
.education-container p:nth-child(2) {
  font-style: italic;
}
.experience-container p span,
.education-container p span {
  color: #01b18c;
  font-style: italic;
}
.experience-container .website,
.education-container .website {
  font-size: 14px;
  font-style: italic;
  color: #01b18c;
}

/* ------------- FOOTER ------------- */
footer .icons {
  display: flex;
  gap: 30px;
  margin: 20px;
}

/* ------------- media queries ------------- */
@media screen and (max-width: 850px) {
  .container-education-experiences {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .container-education-experiences .education,
.container-education-experiences .experiences {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .skill .back-end,
.skill .front-end {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .container-background header {
    width: 100%;
  }
  .container-background .block-right {
    width: 100% !important;
    margin-right: 0px !important;
  }
  body {
    padding: 20px;
    font-family: Montserrat;
  }
  .profile {
    flex-direction: column;
  }
  .profile .name {
    text-align: center;
  }
  .profile .name h1 {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */