@charset "UTF-8";
/* ------------- MIXIN ------------- */
/* ------------- VARIABLES ------------- */
img {
  width: 100%;
}

p {
  font-size: 14px;
}

body {
  background-color: #272727;
  color: white;
  font-family: Montserrat;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 50px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile, .description, .skill, .projects, .experiences, .education {
  margin: 50px 0;
}

/* ------------ IMG && ICON && TEXT ----------- */
h3 {
  color: #7344F8;
  margin-bottom: 30px;
}

/* ---------- PROFIL && DESCRIPTION ---------- */
.profile {
  display: flex;
}
.profile .name {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  font-size: 14px;
}
.profile .name h1 {
  font-size: 24px;
  letter-spacing: 0.245em;
}
.profile .name p {
  margin: 10px 0 0;
}
.profile figure {
  max-width: 250px;
  flex: 1;
}

.description, h3, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  background-image: url("static/icons/quot.png");
  background-repeat: no-repeat;
  background-size: 8%;
}
.description p {
  margin: 10px;
}

/* ------------- COMPÉTENCES ------------- */
.skill .title-back-end {
  display: flex;
  align-items: center;
}
.skill .title-back-end figure {
  max-width: 18px;
  margin: 0 0 0 7px;
}
.skill .skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.skill .skills-container p {
  background-color: #3F3F3F;
  color: #3DC0C9;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 6px;
  border: solid 1px #3DC0C9;
  margin: 0;
}
.skill .skills-container p.uppercase {
  text-transform: uppercase;
}
.skill .back-end, .skill .front-end {
  display: flex;
  margin-bottom: 50px;
  gap: 50px;
}
.skill .back-end .python-DB, .skill .back-end .django, .skill .back-end .html-css, .skill .back-end .js, .skill .front-end .python-DB, .skill .front-end .django, .skill .front-end .html-css, .skill .front-end .js {
  flex: 1;
}

/* ------------- PROJETS ------------- */
.projects {
  text-align: center;
}
.projects .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.projects .cards .card {
  margin-top: 30px;
  max-width: 280px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px #000000;
}
.projects .cards .card .img-container {
  width: 100%;
}
.projects .cards .card .img-container img {
  width: 100%;
}
.projects .cards .card .text-container {
  padding: 5px 10px 30px;
  color: #000000;
  text-align: left;
  font-size: 14px;
}
.projects .cards .card .text-container h5 {
  font-weight: 700;
  font-size: 16px;
  margin: 5px;
}
.projects .cards .card .text-container a {
  text-decoration: underline;
  color: #000000;
}

/* ------------- EXPÉRIENCES && FORMATIONS ------------- */
.experience-container, .education-container {
  margin: 25px 0;
}
.experience-container p, .education-container p {
  margin: 2px 0;
}
.experience-container p:first-child, .education-container p:first-child {
  font-weight: 700;
}
.experience-container p:nth-child(2), .education-container p:nth-child(2) {
  font-style: italic;
}
.experience-container p span, .education-container p span {
  color: #3DC0C9;
  font-style: italic;
}

/* ------------- FOOTER ------------- */
footer .icons {
  display: flex;
  gap: 30px;
  margin: 20px;
}

@media screen and (max-width: 700px) {
  .skill .back-end, .skill .front-end {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  body {
    padding: 20px;
  }

  .profile {
    flex-direction: column;
  }
  .profile .name {
    text-align: center;
  }
  .profile .name h1 {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */