/* ------------- MIXIN ------------- */
@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------- VARIABLES ------------- */
$purple : #7344F8;
$orange : #FF981F;
$blue : #3DC0C9;

img{
  width:100%;
}

p{
  font-size:14px;
}

a{
  text-decoration: none;
  color:#ffffff;
}


body{
  background-color: #272727;
  color:white;
  font-family: Montserrat;
  max-width:1000px;
  margin:0 auto;
  padding:20px 50px;
}

header{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile, .description, .skill, .projects, .experiences, .education{
  margin: 60px 0;
}

/* ------------ IMG && ICON && TEXT ----------- */

h3{
  color:$purple; 
  margin-bottom: 30px;
}


/* ---------- PROFIL && DESCRIPTION ---------- */

.profile{
  display:flex;
 

  .name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex:1;
    font-size:14px;
    h1{
      font-size:24px;
      letter-spacing: 0.245em;
    }
    p{
      margin:10px 0 0;
    }
  }
  figure{
    max-width:250px;
    flex:1;
  }
}

.description, h3, footer{
  @include flex-column;
}

.description{
  p{
    margin: 10px;
  }
  background-image: url("static/icons/quot.png");
  background-repeat: no-repeat;
  background-size: 8%;
}


/* ------------- COMPÉTENCES ------------- */

.skill{

  .title-back-end{
    display: flex;
    align-items: center;
    figure{
      max-width:18px;
      margin:0 0 0 7px;
    }
  }

  .skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;

    p{
      background-color: #3F3F3F;
      color: $blue;
      text-transform: capitalize;
      padding: 5px;
      border-radius:6px;
      border:solid 1px $blue;
      margin:0;
      &.uppercase{
        text-transform: uppercase;
      }
    }
  }


  .back-end, .front-end{
    display: flex;
    margin-bottom: 50px;
    gap:50px;
    .python-DB, .django, .html-css, .js{
      flex:1;
    }
  }
}


/* ------------- PROJETS ------------- */
.projects{
  text-align: center;

  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    
    .card{
      margin-top:30px;
      max-width:280px;
      background-color: #ffff;
      box-shadow: 0px 0px 8px 0px #000000;
      
      .img-container{
        width:100%;
        img{
          width:100%;
        }
      }
      
      .text-container{
        padding:5px 10px 30px;
        color: #000000;
        text-align: left;
        font-size: 14px;
        h5{
          font-weight: 700;
          font-size:16px;
          margin: 5px;
        }
        a{
          text-decoration: underline;
          color:#000000;
        }
      }
    }
  }
}

/* ------------- EXPÉRIENCES && FORMATIONS ------------- */


.experience-container, .education-container{
  margin:25px 0;
  p{
    margin:2px 0;
    &:first-child{
      font-weight: 700;
    }
    &:nth-child(2){
      font-style: italic;
    }
    span{
      color:$blue;
      font-style: italic;
    }
  }
  .website{
    font-size:14px;
    font-style:italic;
    color:$blue;
  }
}



/* ------------- FOOTER ------------- */

footer{
  .icons{
    display: flex;
    gap: 30px;
    margin: 20px;
  }
}

@media screen and (max-width:700px){
  .skill{
    .back-end, .front-end{
      flex-direction: column;
    }
  } 
}

@media screen and (max-width:500px){
  body{
    padding:20px;
  }
  .profile {
    flex-direction: column;
    .name {
      text-align: center;
      h1{
        font-size: 18px;
      }
    }
  }
}
